<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <!--<a class="navbar-brand" routerLink="home" routerLinkActive="active">Angular RegisterAndLogin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
  
  <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse" id="navbarsExample">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <img src="https://cdn4.iconfinder.com/data/icons/useful-1/256/graduate-512.png" width="40px" height="40px">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Teacher Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registration" routerLinkActive="active">Teacher Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student" routerLinkActive="active">Student Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student-login" routerLinkActive="active">Student Login</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>