<img src="../../assets/images/frontpage.jpg">
<div id="box1">
    <h1>CANADA'S BEST ONLINE LEARNING OPPORTUNITIES</h1>
    <p>Through ONLINE EDU portal, students have access to information on online courses and programs.
        This system is designed to facilitate quick & easy completion of online courses,
        at-your-fingertips information. Portal users include students & program tutors.</p>
</div>
<div class="row">
    <div class="column">
        <img src="../../assets/images/teachericon.png">
        <div class="part">
            <button routerLink="/login">Teacher</button>
        </div>
    </div>
    <div class="column">
        <img src="../../assets/images/studenticon.png">
        <div class="part">
            <button routerLink="/student-login">Student</button>

        </div>
    </div>
</div>
<div id="box2">
    <img src="../../assets/images/desktop.jpg">
    <h2>Contact us for help</h2>
    <p>Call the
        Student Information Hotline: <span>123-123-1212</span><br><br>

        Information about available online programs and courses
        Assistance with registration for your online program or course of choice and information on financial help
        Free use of computer workstations and high-speed Internet access to complete your online courses
        Free use of web conferencing and videoconferencing distance learning platforms to connect to and participate in
        your online programs and courses
        Supervision of written and online exams and tests</p>
</div>
<div class="row1">
    <div class="column1">
        <img src="../../assets/images/explore.png">
        <h2>EXPLORE</h2>
        <P>You can browse more than 11.000 online programmes from universities all over the world.</P>

    </div>
    <div class="column1">
        <img src="../../assets/images/compare.png">
        <h2>COMPARE</h2>
        <P>Make a wishlist of your favourite programmes, check your fit with them, and read what other students are
            saying.</P>
    </div>
    <div class="column1">
        <img src="../../assets/images/decide.png">
        <h2>DECIDE</h2>
        <P>Now that you have your top programmes shortlisted, you can pick the ones that fit you the best.</P>
    </div>
    <div class="column1">
        <img src="../../assets/images/apply.ico">
        <h2>APPLY</h2>
        <P>When you feel confident about your online programme choice, you can apply directly via Studyportals. Find out
            how.</P>
    </div>
</div>
<footer>
    <p>All Rights Reserved &copy; ONLINE EDU 2020</p>
    <div class="row2">
        <div class="column2">

        </div>
        <div class="column2">
            <img src="../../assets/images/facebook.png">
            <img src="../../assets/images/instagram.png">
            <img src="../../assets/images/twitter.png">
        </div>
        <div class="column2">

        </div>
    </div>
</footer>