<app-s-header></app-s-header>
<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <app-s-sidebar></app-s-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="row">
            <div class="column">
                <img src="../../assets/images/teacherdashboard.jpg" width="150px" height="150px"></div>
            <div class="column">
                <p>Welcome to Online Edu</p>
                <p>Online Edu is the Learning Management System used for exploring various technical courses.</p>
            </div>
        </div>
        <br>
        <span>Instructions:</span>
        <ul><br>
            <li>Hold yourself accountable</li>
            <li>Practice time management</li>
            <li>Create a regular study space and stay organized</li>
            <li>Eliminate distractions</li>
            <li>Figure Out How You Learn Best</li>
            <li>Actively participate</li>
        </ul>

    </mat-drawer-content>
</mat-drawer-container>
<app-sfooter></app-sfooter>