<app-header></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="row">
            <div class="column">
                <img src="../../assets/images/teacherdashboard.jpg" width="150px" height="150px"></div>
            <div class="column">
                <p>Welcome to Online Edu</p>
                <p>Online Edu is the Learning Management System used for exploring various technical courses.</p>
            </div>
        </div>
        <br>
        <span>Instructions:</span>
        <ul><br>
            <li>Make It a Group Effort</li>
            <li>Focus on 'Active' Learning</li>
            <li>'Chunk' the Lessons</li>
            <li>Keep Group Sizes Small</li>
            <li>Be Present</li>
            <li>Parse Your Time</li>
            <li>Embrace Multi-media Assignments</li>
        </ul>

    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>