<h2 class="text-center"> Teacher Registration</h2>
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" 
                    required placeholder="Name">
            </div>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email" autocomplete="off" required class="form-control input-sm" placeholder="Email">
            </div>
            <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="Password" formControlName="password" required autocomplete="off" class="form-control input-sm" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success" >Register</button>
        </form>
</div>
</div>
<div class="col-md-5">
</div>
</div>
<footer>
    <p>All Rights Reserved &copy; ONLINE EDU 2020</p>
    <div class="row2">
        <div class="column2">

        </div>
        <div class="column2">
            <img src="../../assets/images/facebook.png" >
            <img src="../../assets/images/instagram.png">
            <img src="../../assets/images/twitter.png">
        </div>
        <div class="column2">
            
        </div>
    </div>
</footer>
